body {
  color: white;
}

div {
  margin-bottom: 30px;
  text-align: center;
}

img {
  margin-top: 1rem;
  border-radius: 5px;
  border: 5px solid #5c5297;
  height: 200px;
  width: 200px;
}

.button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  width: 150px;
  height: 75px;
  padding: 5px;
  color: white;
  margin: .5rem;
  text-transform: uppercase;
  border-radius: 3px;
}

#assignTo {
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(50deg, #39baed, #3c38ba);
  font-weight: bold;
}

#assignTo:hover {
  background: linear-gradient(50deg, #4cc0ee, #4945c7);
}

#genNewImg {
  background: linear-gradient(50deg, #b857e6, #5122a2);
  font-weight: bold;
}

#genNewImg:hover {
  background: linear-gradient(50deg, #bf67e8, #5d27bb);
}

.emailLabel, .emailSelect {
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#formSubmit {
  margin: 2rem;
}

#email {
  height: 40px;
  width: 300px;
  padding: 1rem;
}

.main-content {
  background-color: black;
  z-index: 1;
}

#confirm {
  display: none;
  background-color: #F3F5F6;
  color: #000000;
  border: 2px solid #b857e6;
  border-radius: 3px;
  position: fixed;
  width: 300px;
  height: 100px;
  top: 40%;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
}

#confirm button {
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 12px;
  border: 4px solid #4cc0ee;
  padding: 5px;
  text-align: center;
  width: 60px;
  cursor: pointer;
}

#confirm button:hover {
  background-color: #4cc0ee;
}

#confirm .message {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.imgDisplay__head {
  margin-top: 1rem;
  text-align: center;
}

.imgDisplay__head > #saved__Emails {
  border-radius: 5px;
  height: 2rem;
  margin-bottom: 20px;
}

.imgDisplayContainer > .row > .col > img {
  margin: 5px;
  border-radius: 5px;
  box-shadow: #383636 1px 0px 5px 1px;
  z-index: 1;
}
